# Data Exploration

Hey! During this first step, please, take a look at the data set and just explore it, find the types of each column and try to find interesting things. Don't worry about data cleaning. Just exploration for now.  
You can answer the following questions:
- How many columns there are
- The type of each column
- The different values that a column can take
- Which do you think are the most important columns? If we are looking at the overall score.

Go wild! (Remember, so far, only exploration).

In [1]:
import pandas as pd

In [2]:
# The first thing was to check the data docs at https://www.datos.gov.co/Educaci-n/Saber-11-2019-2/ynam-yc42 
df = pd.read_csv('Saber_11__2019-2.csv')
df.head()

C:\Users\jagiraldo\AppData\Local\Temp\ipykernel_14056\2972959786.py:2: DtypeWarning: Columns (76,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Saber_11__2019-2.csv')

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_TIENEETNIA,ESTU_PAIS_RESIDE,ESTU_ETNIA,...,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E
0,TI,COLOMBIA,M,02/18/2002 12:00:00 AM,20194,SB11201940031558,ESTUDIANTE,No,COLOMBIA,-,...,54.0,67,A1,208,25,50.9421557404314,2.0,2.0,PUBLICAR,NO
1,TI,COLOMBIA,M,06/28/2003 12:00:00 AM,20194,SB11201940303339,ESTUDIANTE,No,COLOMBIA,-,...,63.0,88,A2,299,83,59.767864431576,3.0,4.0,PUBLICAR,NO
2,TI,COLOMBIA,M,06/02/2001 12:00:00 AM,20194,SB11201940255017,ESTUDIANTE,No,COLOMBIA,-,...,64.0,89,A2,299,84,50.7642383644749,2.0,3.0,PUBLICAR,GENERACION E - GRATUIDAD
3,TI,COLOMBIA,M,04/26/2002 12:00:00 AM,20194,SB11201940154799,ESTUDIANTE,Si,COLOMBIA,Ninguno,...,53.0,67,A1,309,88,45.7791353123516,2.0,3.0,PUBLICAR,GENERACION E - GRATUIDAD
4,TI,COLOMBIA,M,02/05/2002 12:00:00 AM,20194,SB11201940280831,ESTUDIANTE,No,COLOMBIA,-,...,52.0,63,A1,288,78,52.9109464277177,3.0,3.0,PUBLICAR,NO

In [3]:
df_columns = df.columns.values
print(f"This dataframe has {df_columns.size} columns")

This dataframe has 82 columns

In [33]:
df["PUNT_GLOBAL"].describe()

count    546212.000000
mean        246.186464
std          51.386858
min           0.000000
25%         207.000000
50%         243.000000
75%         282.000000
max         477.000000
Name: PUNT_GLOBAL, dtype: float64

In [19]:
types = pd.Series([df[column].dtype for column in df_columns], index=df_columns)

print(types.unique(), end="\n\n") # array with unique data types

numerical = types[types != object]
print(numerical.head()) # Check the numerical typed columns

[dtype('O') dtype('int64') dtype('float64')]

PERIODO                          int64
COLE_CODIGO_ICFES                int64
COLE_COD_DANE_ESTABLECIMIENTO    int64
COLE_COD_DANE_SEDE               int64
COLE_COD_MCPIO_UBICACION         int64
dtype: object

In [21]:
for index, c_type in numerical.items():
    r = df[index].unique()
    print(f"Column: {index}, min: {r.min()}, max: {r.max()}")

Column: PERIODO, min: 20194, max: 20194
Column: COLE_CODIGO_ICFES, min: 75, max: 728303
Column: COLE_COD_DANE_ESTABLECIMIENTO, min: 105001000001, max: 854874000001
Column: COLE_COD_DANE_SEDE, min: 105001000001, max: 854874000001
Column: COLE_COD_MCPIO_UBICACION, min: 5001, max: 99773
Column: COLE_COD_DEPTO_UBICACION, min: 5, max: 99
Column: ESTU_COD_MCPIO_PRESENTACION, min: 5001, max: 99773
Column: ESTU_COD_DEPTO_PRESENTACION, min: 5, max: 99
Column: PUNT_LECTURA_CRITICA, min: 0, max: 100
Column: PERCENTIL_LECTURA_CRITICA, min: 1, max: 100
Column: DESEMP_LECTURA_CRITICA, min: 1, max: 4
Column: PUNT_MATEMATICAS, min: 0, max: 100
Column: PERCENTIL_MATEMATICAS, min: 1, max: 100
Column: DESEMP_MATEMATICAS, min: 1, max: 4
Column: PUNT_C_NATURALES, min: 0, max: 100
Column: PERCENTIL_C_NATURALES, min: 1, max: 100
Column: DESEMP_C_NATURALES, min: 1, max: 4
Column: PUNT_SOCIALES_CIUDADANAS, min: 0, max: 100
Column: PERCENTIL_SOCIALES_CIUDADANAS, min: 1, max: 100
Column: DESEMP_SOCIALES_CIUDADANAS, min: 1, max: 4
Column: PUNT_INGLES, min: nan, max: nan
Column: PERCENTIL_INGLES, min: 1, max: 100
Column: PUNT_GLOBAL, min: 0, max: 477
Column: ESTU_NSE_ESTABLECIMIENTO, min: nan, max: nan

In [37]:
print(df.groupby(["DESEMP_INGLES"]).groups.keys())
print(df.groupby(["DESEMP_INGLES"])["PUNT_GLOBAL"].mean())
print(df.groupby(["DESEMP_INGLES"])["PUNT_MATEMATICAS"].mean())
print(df.groupby(["DESEMP_INGLES"])["PUNT_C_NATURALES"].mean())
print(df.groupby(["DESEMP_INGLES"])["PUNT_SOCIALES_CIUDADANAS"].mean())
print(df.groupby(["DESEMP_INGLES"])["PUNT_LECTURA_CRITICA"].mean())

dict_keys(['A-', 'A1', 'A2', 'B+', 'B1'])
DESEMP_INGLES
A-    211.698978
A1    259.582928
A2    292.979018
B+    353.913536
B1    326.265573
Name: PUNT_GLOBAL, dtype: float64
DESEMP_INGLES
A-    43.720687
A1    53.480949
A2    59.860239
B+    71.121978
B1    66.125240
Name: PUNT_MATEMATICAS, dtype: float64
DESEMP_INGLES
A-    41.836715
A1    50.622894
A2    56.970195
B+    68.440240
B1    63.348091
Name: PUNT_C_NATURALES, dtype: float64
DESEMP_INGLES
A-    39.180786
A1    48.636296
A2    56.038452
B+    69.030187
B1    63.253838
Name: PUNT_SOCIALES_CIUDADANAS, dtype: float64
DESEMP_INGLES
A-    45.985681
A1    54.754024
A2    60.499081
B+    70.034558
B1    65.976960
Name: PUNT_LECTURA_CRITICA, dtype: float64

In [44]:
df.groupby(["ESTU_DEPTO_RESIDE", "DESEMP_INGLES"]).mean()["PUNT_GLOBAL"]

C:\Users\jagiraldo\AppData\Local\Temp\ipykernel_14056\2358881374.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["ESTU_DEPTO_RESIDE", "DESEMP_INGLES"]).mean()["PUNT_GLOBAL"]

ESTU_DEPTO_RESIDE  DESEMP_INGLES
AMAZONAS           A-               194.197208
                   A1               242.822222
                   A2               278.571429
                   B+               335.500000
                   B1               323.000000
                                       ...
VAUPES             B1               256.500000
VICHADA            A-               209.243902
                   A1               259.909091
                   A2               297.076923
                   B1               328.800000
Name: PUNT_GLOBAL, Length: 165, dtype: float64